In [1]:
import pandas as pd

In [2]:
import sqlalchemy

In [3]:
from sqlalchemy import create_engine

In [4]:
db_connection_str = 'mysql+pymysql://deepanalytics:Sqltask1234!@34.73.222.197/deepanalytics'

In [5]:
db_connection = create_engine(db_connection_str)

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
df = pd.read_csv('credit.csv')

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df = df.drop_duplicates()

In [ ]:
print(df.isnull().sum())

In [ ]:
#correcting header

df = pd.read_csv('credit.csv', header=1)

In [ ]:
import numpy as np

In [ ]:
df.head()

In [ ]:
print(df.isnull().sum())

In [ ]:
np.where(df['ID'].isnull())[0]

In [ ]:
df[df['ID'].isnull()].index.tolist()

In [ ]:
print(df.loc[200:205])

In [ ]:
df1 = df.drop(df.index[[201,202]])

#two rows of imbedded headers, remove those two rows

In [ ]:
print(df1.dtypes)

In [ ]:
np.where(df1['ID'].isnull())[0]

In [ ]:
df1.to_csv(index=False)

In [ ]:
compression_opts = dict(method='zip', archive_name='out.csv')  
df1.to_csv('out.zip', index=False, compression=compression_opts)  

#export data to reimport to correct dtypes

In [ ]:
df2 = pd.read_csv('creditone.csv')

In [ ]:
df2.head()

In [ ]:
print(df2.dtypes)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df2 = df2.drop_duplicates()
print(df2.isnull().sum())
df2.info()

# confirm data is good to start

In [ ]:
import seaborn as sns

In [ ]:
df2.groupby('EDUCATION')['EDUCATION'].count()

In [ ]:
#update types to int64

#X2: Gender (1 = male; 2 = female).
#X3: Education (1 = graduate school; 2 = university; 3 = high school; 0, 4, 5, 6 = others)
#Y: client's behavior; Y=0 then not default, Y=1 then default"

df2['SEX'] = df2['SEX'].astype('int64')
df2['SEX'] = df2['SEX'].replace('male','1')
df2['SEX'] = df2['SEX'].replace('female','2')

df2['EDUCATION'] = df2['EDUCATION'].astype('int64')
df2['EDUCATION'] = df2['EDUCATION'].replace('graduate school','1')
df2['EDUCATION'] = df2['EDUCATION'].replace('university','2')
df2['EDUCATION'] = df2['EDUCATION'].replace('high school','3')
df2['EDUCATION'] = df2['EDUCATION'].replace('other','4')


df2['default payment next month'] = df2['default payment next month'].astype('int64')
df2['default payment next month'] = df2['default payment next month'].replace('default','1')
df2['default payment next month'] = df2['default payment next month'].replace('not default','0')

In [ ]:
df2.groupby('EDUCATION')['EDUCATION'].count()

In [ ]:
df2.groupby('SEX')['SEX'].count()

In [ ]:
df2.groupby('default payment next month')['default payment next month'].count()

In [ ]:
df2.info()

In [ ]:
sns.pairplot(df2)

In [ ]:
corr_mat = df2.corr()
print(corr_mat)

In [ ]:
cov_mat = df2.corr()
print(cov_mat)

highest correlation is between Bill_Amount 4 and 5(0.940134) and Bill_Amount3 and 4 (0.923969) There is also a high correlation between pay 4 and 5 (0.819835) and pay 2 and 3 (0.766552)

In [ ]:
Test1 = df2[['BILL_AMT4','BILL_AMT5', 'BILL_AMT3', 'PAY_2','PAY_3','PAY_4','PAY_5']]
sns.pairplot(Test1)

In [ ]:
df2.groupby('MARRIAGE')['MARRIAGE'].count()

In [ ]:
df2.groupby('SEX') ['SEX'].count()

In [ ]:
df2.groupby(['MARRIAGE', 'SEX'])['SEX'].count()

In [ ]:
df2.head()